.logo-builder {
  width: 100%;
  border: 1px solid #E3E3E9;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: flex;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .logo-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-size: 28px 28px;
    background-position: 0 0, 0 14px, 14px -14px, -14px 0px;
    position: relative;

    .logo {
      display: none;
    }

    .currentSVG {
        display: block;
    }

    &.bg-white {
      background-color: #FFF;
      background-image: linear-gradient(45deg, rgba(26,26,28,0.03) 25%, transparent 25%), linear-gradient(-45deg, rgba(26,26,28,0.03) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(26,26,28,0.03) 75%), linear-gradient(-45deg, transparent 75%, rgba(26,26,28,0.03) 75%);
    }

    &.bg-dark {
      background-color: #1A1A1C;
      background-image: linear-gradient(45deg, rgba(255,255,255,0.04) 25%, transparent 25%), linear-gradient(-45deg, rgba(255,255,255,0.04) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(255,255,255,0.04) 75%), linear-gradient(-45deg, transparent 75%, rgba(255,255,255,0.04) 75%);
    }

    @media screen and (max-width: 768px) {
      height: 300px;
    }
  }

  .logo-settings {
    min-width: 300px;
    border-left: 1px solid #E3E3E9;
    padding: 24px;
    background-color: #FFF;

    @media screen and (max-width: 768px) {
      min-width: 100%;
      width: 100%;
      border-left: 0;
      border-top: 1px solid #E3E3E9;
    }

    h5 {
      margin-bottom: 20px;
      font-weight: 600;
    }

    .btn {
      padding: 10px 14px;
      font-size: 14px;
      line-height: 1;
    }

    .options-group {
      margin-bottom: 20px;
    }
  }

  .woohoo {
    bottom: 20px;
    opacity: 0;
    padding: 8px 0;
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    border-radius: 6px;
    transition: all 0.2s ease;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    position: absolute;

    &.show {
      bottom: 30px;
      opacity: 1;
    }
  }
}