@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

// Colors
$white: #FFFFFF;
$black: #000000;
$dark-gray: #1A1A1C;
$gray-border: #E3E3E9;
$blue: #0d6efd;

*, ::after, ::before {
    box-sizing: border-box;
}

* {
  font-family: 'Inter', sans-serif;
}

.logo-builder {
  width: 100%;
  border: 1px solid $gray-border;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: flex;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-top: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .logo-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-size: 28px 28px;
    background-position: 0 0, 0 14px, 14px -14px, -14px 0px;
    position: relative;

    .logo {
      display: none;
    }

    .currentSVG {
        display: block;
    }

    &.bg-white {
      background-color: $white;
      background-image: linear-gradient(45deg, rgba(26,26,28,0.03) 25%, transparent 25%), linear-gradient(-45deg, rgba(26,26,28,0.03) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(26,26,28,0.03) 75%), linear-gradient(-45deg, transparent 75%, rgba(26,26,28,0.03) 75%);
    }

    &.bg-dark {
      background-color: $dark-gray;
      background-image: linear-gradient(45deg, rgba(255,255,255,0.04) 25%, transparent 25%), linear-gradient(-45deg, rgba(255,255,255,0.04) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(255,255,255,0.04) 75%), linear-gradient(-45deg, transparent 75%, rgba(255,255,255,0.04) 75%);
    }

    @media screen and (max-width: 768px) {
      height: 300px;
    }
  }

  .logo-settings {
    min-width: 300px;
    border-left: 1px solid $gray-border;
    padding: 24px;
    background-color: $white;

    h5 {
      margin: 0 0 20px;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.2;
    }

    h6 {
      margin: 0 0 8px;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1;
    }

    button, input, optgroup, select, textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    .btn-group {
      display: flex;
      gap: 0.5em;
    }

    .btn {
      padding: 10px 14px;
      border: 1px solid;
      border-radius: 6px;
      cursor: pointer;
      transition: all 0.1s ease;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;

      &:hover {
        opacity: 0.8;
      }

      &-primary {
        background-color: $black;
        color: $white;
        border-color: $black;
      }

      &-outline {
        background-color: $white;
        border-color: $gray-border;
        color: $dark-gray;
      }
    }

    .form-check {
      display: flex;
      align-items: center;
      min-height: 1.5rem;
      padding-left: 1.5em;
      margin-bottom: 0.125rem;

      &-input[type=radio] {
        float: left;
        margin-left: -1.5em;
        width: 1em;
        height: 1em;
        margin-right: 0.25em;
        vertical-align: top;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: $white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid $gray-border;
        border-radius: 50%;

        &:checked {
          background-color: $blue;
          border-color: $blue;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
        }
      }
    }

    label {
        display: inline-block;
    }

    @media screen and (max-width: 768px) {
      min-width: 100%;
      width: 100%;
      border-left: 0;
      border-top: 1px solid $gray-border;
    }

    .options-group {
      margin-bottom: 20px;
    }
  }

  .woohoo {
    bottom: 20px;
    opacity: 0;
    padding: 8px 0;
    text-align: center;
    background-color: $black;
    color: $white;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    border-radius: 6px;
    transition: all 0.2s ease;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    position: absolute;

    &.show {
      bottom: 30px;
      opacity: 1;
    }
  }
}