html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.app {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	background-color: #FFF;
	max-width: 900px;
	width: 100%;
	margin: 40px auto;

	@media screen and (max-width: 768px) {
		margin: 0;
	}
}