html, body {
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
}

.ph-banner {
	position: absolute;
	top: 20px;
	right: 20px;

	&.mobile {
		display: none;
	}

	@media screen and (max-width: 768px) {
		display: none;

		&.mobile {
			display: block;
			margin: 40px 0 0;
			position: relative;
			top: 0;
			right: 0;
		}
	}
}

#main {
	background-color: #FFF;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 100px;

	.btn-light {
		border-color: #E3E3E9;
		&:hover {
			background-color: #fff;
		}
	}

	.section {
		padding: 0 8px;
		margin-bottom: 40px;
		display: block;

		@media screen and (max-width: 768px) {
			padding: 0 20px;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.iframe-section {
		@media screen and (max-width: 768px) {
			box-shadow: 0 0 0 8px #F1F4F6 inset;
			margin: 20px 20px 40px;
		}
	}

	iframe {
		padding: 0;
		margin: 0;
		height: 600px;

		@media screen and (max-width: 768px) {
			height: 880px;
		}
	}

	pre {
		background-color: #f1f4f6;
		padding: 28px;
		border-radius: 6px;

		code {
			background-color: transparent;
			padding: 0;
			border-radius: 0;
		}
	}

	code {
		background-color: #f1f4f6;
		padding: 4px 6px;
		border-radius: 3px;
	}

	@media screen and (max-width: 768px) {
		margin: 0;
		padding: 40px 0;
	}
}
